.nav {
  background-color: #333;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-top: 2%;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 2%;
}
.logo a {
  font-size: 35px;
  text-decoration: none;
  color: white;
  height: 100%;
}
.logo a:hover {
  color: white;
}
.logo1 {
  width: 60px;
  height: 60px;
  margin-left: 10%;
}
.buttons {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.buttons a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: #222;
  width: 30%;
  font-size: 18px;
  transition: border-color 0.25s;
  border-radius: 5px;
  border: 1px solid #333;
  margin-left: 5%;
}
.buttons a:hover {
  border-color: rgb(210, 107, 70);
  color: white;
  background-color: #222;
}
